<!DOCTYPE html>
<html>
<head>
  <title>Show Page</title>
</head>
<body>
  <div id="show-page-container">
    <img src="<%=homes.img%>"/>
    <ul class="home-description">
      <li><%=homes.roomNum %></li>
      <li><%=homes.availablity %></li>
      <li><%=homes.city %></li>
      <li><%=homes.bathroomNum %></li>
      <li><%=homes.description %></li>
    </ul>
    <a href='/<%=homes.id%>/edit'>Edit Home</a>
  </div>
</body>
</html>
