<!DOCTYPE html>
<html>
<head>
  <title>Show Page</title>
</head>
<body>
  <div id="show-page-container">
    <img src="images/<%=homes.img%>">
    <ul class="home-description">
      <li><%=homes.roomNum %></li>
      <li><%=homes.availablity %></li>
      <li><%=homes.city %></li>
      <li><%=homes.bathroomNum %></li>
      <li><%=homes.description %></li>
    </ul>
    <a href='/<%=homes.id%>/edit'>Edit Home</a>
    <form action="/<%= homes.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button>Delete Me</button>
    </form>
  </div>
</body>
</html>
